.Server_Wrapper{
    position: relative;
    font-family: 'Poppins', sans-serif;
    // background-color: black;
    
    .arrow_image{
        margin-bottom: 50px;
        position: absolute;
        left: 13%;
        margin-top: -50px;
        width: 200px;
        img{
            width: 100px;
        }
    }
    .CustomeLoop_Wrapper{
        background-image: url(../Assets/Serverimage.png);
        background-repeat: no-repeat;
        // transform: rotate(2deg);
        background-size: 120% 100%;
        padding: 100px;
        padding-top: 100px;
        margin-left: -7%;
        padding-left: 50px;
        padding-left: 15%;
        margin-top: -79px;
        padding-right: 0px;

        @media screen and (max-width:1200px){
            padding: 20px;
            padding-top: 100px;
            padding-bottom: 100px;
            padding-left: 20px;
        }
        .Container_Content{
            display: flex;
            flex-direction: row;
            width: 100%;

            @media screen and (max-width:700px){
                display: block;
            }
        }
        .Img_Content{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;

            
            &.animate{
                animation: moveleft 1s;
              }
        
              @keyframes moveleft {
                from{
                    opacity: 0;
                    margin-left: 200px;
                    margin-right: -200px;
                }
                to{
                    opacity: 1;
                    margin-right: 0;
                    margin-left: 0px;
                }
              }


            @media screen and (max-width:800px){
                display: block;

            }
            img{
                // width: 90%;
                width: 80%;
                // margin-top: 10%;
                margin-bottom: 10%;

                @media screen and (max-width:700px){
                    // display: block;
                    height: 100%;
                    width: 100%;
                }

                @media screen and (max-width:500px){
                    // display: block;
                    // height: 100%;
                    // width: 100%;
                    margin-bottom: 30%;
                }
            }
        }
        .Content{
            // padding: 20px;
            align-items: flex-start;
            display: flex;
            justify-content: center;
            text-align: left;
            flex-direction: column;
            width: 100%; 
            // background-color: #fff;
            // opacity: 50%;

            
            &.animate{
                animation: moveright 1s;
              }
        
              @keyframes moveright {
                from{
                    opacity: 0;
                    margin-left: -200px;
                    margin-right: 200px;
                }
                to{
                    opacity: 1;
                    margin-right: 0;
                    margin-left: 0px;
                }
              }

            @media screen and (min-width:1300px){
                margin-top: -110px;
            }

            @media screen and (max-width:1200px){
                // padding: 30px;
                // padding-top: 50px;
                // padding-bottom: 50px;
                padding-left: 100px;
            }

            @media screen and (max-width:800px){
                // padding: 30px;
                // padding-top: 50px;
                // padding-bottom: 50px;
                padding-left: 50px;
            }

            @media screen and (max-width:500px){
                // padding: 30px;
                // padding-top: 50px;
                // padding-bottom: 50px;
                padding-left: 20px;
            }
            div{
                // box-shadow: 0px 24px 141px 0px #A43822;
                border: 1px solid #fff;
                padding: 50px;
                outline: #fff;
                border-radius: 20px;
                padding-top: 60px;
                background: #1212120A;

                @media screen and (max-width:1200px){
                    padding: 30px;
                    padding-top: 50px;
                    padding-bottom: 50px;
                }

                @media screen and (max-width:500px){
                    padding: 20px;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    margin-bottom: 20px;
                }
                // background: linear-gradient(0deg, rgba(255,255,255,0.09), rgba(255,255,255,0.09));
                
                // background: radial-gradient(70.03% 230.63% at 40.83% 42.55%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
                // linear-gradient(0deg, rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09));
                // border-image-source: radial-gradient(70.03% 230.63% at 40.83% 42.55%, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
            }
            .Main_Header{
                // font-size: 40px;
                text-align: left;
                margin: 0;
                font-size: 50px;
                color: black;
                margin-bottom: 10px;
                span{
                    color: #fff;
                }

                @media screen and (max-width:1200px){
                    font-size: 40px;
                    // line-height: 30px;
                    margin-bottom: 10px;
                }

                @media screen and (max-width:800px){
                    font-size: 40px;
                    // line-height: 30px;
                    margin-bottom: 0px;
                }

                @media screen and (max-width:700px){
                    // font-size: 17px;
                    // line-height: 30px;
                    margin-bottom: 10px;
                }

                @media screen and (max-width: 400px) {
                    // .Main_Header{
                    font-size: 40px;
                    // }
                }

                @media screen and (max-width:500px){
                    // display: block;
                    // height: 100%;
                    // width: 100%;
                    // line-height: normal;
                    // font-size: 16px;
                    // margin-bottom: 20px;
                }


            }
            p{
                line-height: 40px;
                font-size: 17px;
                color: #000;
                margin: 0;

                @media screen and (max-width:1200px){
                    font-size: 16px;
                    line-height: 30px;
                }

                @media screen and (max-width:800px){
                    font-size: 16px;
                    line-height: normal;
                }

                @media screen and (max-width:700px){
                    font-size: 15px;
                    line-height: 30px;
                }

                @media screen and (max-width:500px){
                    // display: block;
                    // height: 100%;
                    // width: 100%;
                    line-height: normal;
                    font-size: 15px;
                    // margin-bottom: 30%;
                }

                @media screen and (max-width: 400px) {
                    // .Main_Header{
                    font-size: 14px;
                    // }
                }
            }
        }
    }
}